$color-primaryold: #0070D3;
$color-primary:#4A66FE;
$color-lab: #757E97;
$color-txt: #B0B9CD;
$border-color: #eee;
$color-tab: #B5C7DD;

a { text-decoration: none; }
.mint-header { height: 48px; font-size: 16px; background-color:$color-primary; }
.mint-header.def-header { background-color: #fff; color: #333333; }
.mint-header .mint-button { font-size: 14px; line-height: 42px; }
.mint-wrap { padding: 44px 0 45px; }
.mint-content{ padding:50px 4% 0;}
.mint-cell-wrapper { padding: 0; font-size: 14px; border-bottom: 1px solid $border-color; background: none; }
.mint-cell-title { color: #333; }
.mint-cell-value,
.mint-field-other { color: $color-txt; font-size: 12px; }
.mint-field-core { line-height: 48px; background: none;font-size: 14px; }
.mint-switch { /*display: flow-root;*/ display: block; width: 100px; height: 48px; line-height: 48px; clear: both; }
.mint-switch .mint-switch-label { float: left; margin: 0 10px 0 0; }
.mint-switch .mint-switch-core { float: right; width: 44px; height: 24px; margin-top: 10px; }
.mint-switch .mint-switch-core::before { width: 42px; height: 22px; background-color: #F0F0F0; }
.mint-switch .mint-switch-core::after {width: 22px; height: 22px;}
.mint-button { font-size: 16px; }
.mint-button:not(.is-disabled):active::after{opacity:.2}
.mint-button--primary{background-color:$color-primary}
.mint-button--primary.is-plain{border:1px solid $color-primary;color:$color-primary}
.mint-popup { width: 100%; }
.mint-badge.is-primary{background-color:$color-primary}
.mint-switch-input:checked+.mint-switch-core{border-color:$color-primary;background-color:$color-primary}
.mint-navbar .mint-tab-item.is-selected{border-bottom:3px solid $color-primary;color:$color-primary; margin-bottom: 0; }
.mint-tabbar>.mint-tab-item.is-selected{color:$color-primary}
.mint-tab-item-label { font-size: 14px; }
.mint-cell-allow-right::after { right: 10px; }
.mint-searchbar-cancel{color:$color-primary}
.mint-checkbox-input:checked+.mint-checkbox-core{background-color:$color-primary;border-color:$color-primary}
.mint-radio-input:checked+.mint-radio-core{background-color:$color-primary;border-color:$color-primary}
.mt-range-progress{background-color:$color-primary}
.mt-progress-progress{background-color:$color-primary}
.mint-msgbox-confirm{color:$color-primary}
.mint-msgbox-confirm:active{color:$color-primary}
.mint-datetime-action{color:$color-primary}
.picker-toolbar { height: 46px; border-bottom: solid 1px #eee; }
.picker-toolbar .mint-datetime-action { width: 49.5%; line-height: 46px; }
.picker-toolbar .mint-datetime-cancel { border-right: 1px solid #eee; }
.picker-slot { font-size: 14px; }
.mint-cell:last-child { background: none; }
.mint-msgbox { margin-left: -42%; margin-top: -20%; -webkit-transform: none; transform: none; }

/*自定义样式*/
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:disabled, textarea:disabled, select:disabled,
input, textarea, select {background: none !important; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body,button,input,select,textarea{font:14px/1.5 arial,"Microsoft YaHei"; outline:none; border: none; }
body{margin: auto;}
ul,li { list-style: none; }
i, cite, em, var, address, dfn { font-style: normal; }
.fn-clear:after,.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear,.clear{zoom:1}
.fn-left { float: left; }
.fn-right { float: right; }
.mt20 { margin-top: 20px; }
.mb5 { margin-bottom: 5px; }
.quote-bar { width: 92%; padding: 0 4% 16px; text-align: center; font-size: 12px; background-color: #fff; color: #999; }
.quote-row { padding: 10px 4%; font-size: 12px; color: #999; line-height: 20px; background: #F9F9F9; }
.mint-row-txt { padding: 20px 4% 10px; font-size: 12px; background: #F9F9F9; color: #999; }
.mt-err-tip { padding: 0 4%; font-size: 10px; color: #FC3738; line-height: 24px; display: inherit; margin-left:100px;}
.mint-content .home-row { font-size: 12px; color: $color-txt; letter-spacing: 0; height: 20px; line-height: 20px; }
.mint-button.btn-fixed { position: fixed; bottom: 0; left: 0; border-radius: 0; height: 48px; }
table{  border-collapse:collapse;}
// .btn_quote{border: $color-primary;color: #fff;}
// .mint-field.upper input { text-transform: uppercase; }
.homeTab .van-tab--active{
    font-weight: bold !important;
}
.van-hairline--top-bottom::after{
    border: 0!important;
}
.mint-inputOwnIdcard .mint-field-core{
    padding-left:10px!important;
}
.mint-navbar{border-bottom: 1px solid #eee;}
.mint-navbar.quote-tab .mint-tab-item { color: $color-tab; }
.mint-navbar.quote-tab .mint-tab-item .t-dot { display: inline-block; width: 13px; height: 13px; margin-right: 4px; border-radius: 50%; }
.mint-navbar.quote-tab .mint-tab-item.is-selected { border-bottom: none; }
.mint-navbar.quote-tab .mint-tab-item-label { display: inline-block; padding: 5px 7px; font-size: 12px; border: 1px solid transparent; border-radius: 15px; }
.mint-navbar.quote-tab .mint-tab-item.nav-item .mint-tab-item-label { background-color: #fff; color: $color-primary; border-color: $color-primary; }
.mint-navbar.quote-tab .mint-tab-item.nav-item .t-dot { background-color: $color-primary; color: #fff; }
.mint-navbar.quote-tab .mint-tab-item.is-selected .mint-tab-item-label { background-color: $color-primary; color: #fff; border-color: $color-primary; }
.mint-navbar.quote-tab .mint-tab-item.is-selected .t-dot { background-color: #fff; color: $color-primary; }
.zxFieldBox .zxField{    padding-top: 27px!important; padding-left: 5px!important;}
.zxFieldBox  .zxField1{ padding-top: 27px!important;}
.zxTohome{background: #093483;color:#fff}


.mint-region { margin-bottom: 10px; background-color: #fff; }
.mint-region .mint-cell { padding-left: 4%; }
.mint-region .mint-cell-wrapper { padding-right: 4%; border-bottom: none; }
.mint-region .mint-cell.last .mint-cell-wrapper { border-bottom: 0; }
.mint-region .mint-cell-title { color: #333; }
.mint-region .mint-cell-value,
.mint-region .mint-field-other { color: #333; }
.mint-region .mint-cell .ico-arrow { content: " "; position: absolute; top: 50%; right: 0; width: 5px; height: 5px;  border: solid 2px #c8c8cd; border-bottom-width: 0; border-left-width: 0; -webkit-transform: translateY(-50%) rotate(45deg); transform: translateY(-50%) rotate(45deg); }
.mint-region .mint-plane .mint-cell { float: left; display: inline-block; padding-left: 0; -webkit-box-sizing: inherit; box-sizing: inherit; }
.mint-region .mint-plane .mint-cell-title { width: auto; }
.mint-region .mint-plane .mint-radiolist-title { display: none; }
.mint-region .mint-plane .mint-cell-wrapper { border-bottom: none; }
.mint-region .mint-insList.mint-cell { min-height: 40px; }
.mint-region .mint-insList .mint-cell-wrapper { line-height: 40px; border-bottom: none; }
.mint-region .mint-dateItm .mint-cell-title,
.mint-region .mint-insList .mint-cell-title { font-size: 14px; color: #333 !important; }
.mint-region .active1 .mint-cell-title{ font-size: 14px; color: #333 !important;}
.mint-region .active1{ font-size: 11px; color: #333 !important;}
.mint-region .mint-insList .mint-field-other { width: 100%; padding-left: 14%; }
.mint-region .mint-formItm .mint-field-core,
.mint-region .mint-dateItm .mint-field-core,
.mint-region .mint-insList .mint-field-core { display: none; }
.mint-region .mint-formItm .mint-input,
.mint-region .mint-dateItm .mint-input,
.mint-region .mint-insList .mint-input { width: 50%; float: right; margin-right: 4%; text-align: right; line-height: 40px; font-size: 14px; color: #333; border: none; }
.mint-region .mint-formItm .mint-field-other,
.mint-region .mint-dateItm .mint-field-other { width: 100%; }
.mint-region .mint-dateItm .mint-input { width: 96%; }
.mint-region .mint-formItm .mint-input { width: 96%; text-align: left; color: #333; }
.mint-region .mint-insList.non-select .mint-checkitem,
.mint-region .mint-insList.non-select .mint-input { color: #aaa }
.mint-region .mint-insList.non-select .mint-cell-title { color: #999; }
.mint-region .field-title .mint-cell-title { color: #333;font-weight: bold; }
.mint-region .mint-dateItm.ico-date .mint-cell-text { position: relative; padding-left: 20px; display: inline-block; line-height: 20px; background: url(../images/date.png) no-repeat; background-size: 18px 18px; }
.mint-region .mint-popup-full { width: 100%; height: 100%; background-color: #fff; overflow-y: scroll; }
.mint-region .mint-popup-full::-webkit-scrollbar{width: 5px; background-color: #fff; }
.mint-region .mint-popup-full::-webkit-scrollbar-track{background:#fff;}
.mint-region .mint-popup-full::-webkit-scrollbar-thumb{border-radius: 18px;background: #dee3ef;}
.mint-region .mint-popup-full::-webkit-scrollbar-thumb:window-inactive{background:rgba(255,255,255,0.40);}

.mint-checkitem { font-size:12px;cursor:pointer;color:#666}
// .mint-checkitem i{display:inline-block;width:15px;height:15px;font-size:14px;font-style:normal;text-align:center; text-indent: -999em;line-height:15px;color:#fff; font-weight:500;vertical-align:middle;margin:-2px 5px 1px 0;border:1px solid #E0E0E0; border-radius:3px}
.mint-checkitem i{display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    text-indent: -999em;
    line-height: 15px;
    color: #fff;
    font-weight: 500;
    vertical-align: middle;
    margin: -2px 5px 1px 0;
    border: 1px solid #E0E0E0;
    border-radius: 50%;}
.mint-checkitem input[type=checkbox]{display:none}
.mint-checkitem input[type=checkbox]:checked+i{background:url(../images/ico-right.png) no-repeat center; background-size: 12px; color: $color-primary;border-color:$color-primary;}
.mint-checkitem input[type=checkbox]:disabled+i{border-color: #E0E0E0;color: #E0E0E0; text-indent: -999em;}
.mint-checkitem input[type=checkbox]:checked:disabled+i{background:none;}

.mint-checkitemduty { font-size:11px;cursor:pointer;color:#666; border: 1px solid #eee; padding: 3px 5px 2px 2px;border-radius: 5px;}
// .mint-checkitem i{display:inline-block;width:15px;height:15px;font-size:14px;font-style:normal;text-align:center; text-indent: -999em;line-height:15px;color:#fff; font-weight:500;vertical-align:middle;margin:-2px 5px 1px 0;border:1px solid #E0E0E0; border-radius:3px}
.mint-checkitemduty i{
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    text-indent: -999em;
    line-height: 15px;
    color: #fff;
    font-weight: 500;
    vertical-align: middle;
    margin: -2px 0px 0px;
    // border: 2px solid #E0E0E0;
    background: url(../images/icon_dis.png) no-repeat center;
    background-size: 10px; 
}
.mint-checkitemduty input[type=checkbox]{display:none}
.mint-checkitemduty input[type=checkbox]:checked+i{background:url(../images/ico-right.png) no-repeat center; background-size: 10px; color: $color-primary;border-color:$color-primary;}
.mint-checkitemduty input[type=checkbox]:disabled+i{border-color: #E0E0E0;color: #E0E0E0; text-indent: -999em;}
.mint-checkitemduty input[type=checkbox]:checked:disabled+i{background:none;}
.active2{border-color: rgb(74, 102, 254);color: rgb(74, 102, 254)}
.tooLong-insList .mint-cell-title{line-height: normal;}
.loadingBox{
    background:url(../images/icon-car-white.png)no-repeat center;
    text-align: center;
    background-size: contain;
    height: 45px;
}

.container-center { padding: 44px 0; }

.mint-footer { position: fixed; bottom: 0;left: 0; width: 100%; height: 60px; background-color: #fff; box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.05); }
.mint-footer .mint-footer-left { float: left; padding-left: 4%;margin-top: 10px; }
.mint-footer .btn-yes { float: right; width: 140px; height: inherit; border-radius: 0; }

.fixed-footer{position: fixed; bottom: 0;left: 0; width: 100%; height: 45px; }
.btn-footer{background: $color-primary;height: 45px;}
.vehicleInfo .mint-cell .mint-cell-text { display: block; padding: 10px 0; line-height: 22px; font-size: 14px; }
.quoteList .mint-region .mint-cell-title { color: #202020; }
.quoteList .mint-region .mint-cell-wrapper { border-bottom: 0; }
.quoteList .mint-region .q-txt { color: $color-primary; }

.uwResult .uw-head { padding: 50px 40% 20px; color: #333; }
.uwResult .uw-img { float: left; width: 48px; height: 48px;margin-left:10px;}
.uwResult .uw-img.uwing { background: url(../images/icon_ongoing.png) no-repeat; -webkit-animation:circle 1s infinite linear }
.uwResult .uw-img.uw-succ { background: url(../images/icon_successful.png) no-repeat; background-size: cover; }
.uwResult .uw-img.uw-manual { background: url(../images/icon_manual.png) no-repeat; background-size: cover; }
.uwResult .uw-info { float: left; }
.replenish{ display: flex; align-items:center; justify-content: center; flex-direction: column;margin-top:60px;}
.replenish h3{font-size: 14px;color: #666;margin-top: 20px;}
.replenish  p{font-size: 12px; color: #F3787C;     margin-top: 20px;}
.replenish  span{font-size: 14px;color: #0070D3;     margin-top: 20px;}
.replenish .tishi{font-size: 14px; color: #999;     margin-top: 20px;}

.uwResult .uw-info h3 { margin-bottom: 14px; font-size: 14px; font-weight: 400; }
.uwResult .uw-info .uw-txt { font-size: 12px; color: #B1C4DB; }
.uwResult .uw-order .uw-money { color: #fc4041; }

.payResult .insure-status { text-align: center; font-weight: 400; font-size: 20px; color: $color-lab; }
.payResult .insure-status.insure-succ { color: $color-primary; }

.mint-header .mint-head-close { color: $color-primary; }
.mint-header .mint-head-close .mint-button-icon { display: none; }

.login .mint-cell-wrapper { padding-top: 20px; line-height: 40px; border-color: #88959f; }
.login .mint-region .mint-formItm .mint-field-other { border-bottom: 1px solid #e0e0e0 }
.btn-pay { display:block; width:50%; height:40px; margin: 100px auto 0; border-radius:4px; font-size:16px; color: $color-primary; background: none; text-align:center; line-height:38px; border: 1px solid $color-primary; }

@-webkit-keyframes circle{0%{transform:rotate(0)} 100%{transform:rotate(-360deg)}}
.quoteList .mint-region  .mint-cell-wrapper { border-bottom: 0; }
.quoteList .mint-region .q-txt { color: $color-primary; }

.quotedetail{color: #999999;padding-bottom: 60px;padding-left:4%;padding-right:4%;}
.quotedetail .fourci{height: 44px;border-bottom: 1px solid #EEEEEE;}
.quotedetail h3{color: #333;font-size: 18px;text-align: center;font-weight: normal;}
.quotedetail header img{height: 20px;width: 20px;}
.quotedetail .header-left{float: left;}
.quotedetail .header-right{float: right;}
.quotedetail .bigbox{height: 44px;line-height: 44px;color: #333333;font-size: 14px;}
.quotedetail .middlebox{margin-top:10px;color: #333333;font-size: 14px;line-height: 20px;}
.quotedetail .smallboxone{font-size: 12px;color: #888888;}
.quotedetail .smalltwo{font-size: 12px;color:#888888;}
.quotedetail .detail-row-three{max-height: 60px;color: #333333;font-size: 12px; overflow: hidden; border-bottom: 0.5px solid #eee; border-right: 0.5px solid #eee;   border-left: 0.5px solid #eee;  padding: 0 10px;line-height: 32px;}
.quotedetail .detail-row-title{background-color:#F5F5F5;}
.quotedetail .detail-row-three .detail-row-three-left{width: 50%;float: left;}
.quotedetail .detail-row-three .detail-row-three-center{width: 23%;float: left;}
.quotedetail .detail-row-three  .detail-row-three-right{width: 27%;float: right;text-align: right;}
.quotedetail .reds{color:#FC3738;font-size: 12px;}
.quotedetail .messagecc{width: 100%;height: 100%;background: #FFFFFF;}
.quotedetail .messagecc li p{padding: 0 4%;line-height: 24px;font-size: 12px;}
.quotedetail .mesleft{width: 22%;display: inline-block;}
.quotedetail .mesright{margin-left: 20px;color: #333333;}
.quotedetail .messagecc li{padding: 14px 0;border-bottom:10px solid #F9F9F9  ;}
.quotedetail .messagecc li{padding: 14px 0;border-bottom:10px solid #F9F9F9  ;}

.underwriting .mint-datetime-action { width: 49.5%; line-height: 46px; }
.underwriting .mint-datetime-cancel { border-right: 1px solid #eee; }
.underwriting .mint-region .mint-formItm{color:#808080 ;font-size:14px}
.underwriting .mint-region .mint-input:placeholder{color: #AAAAAA ;font-size: 14px;}
.underwriting .mint-region .mint-input{font-size: 14px;}

.errPage .err-txt { font-size: 12px; color: $color-txt; }
.home .mintui-field-error{display: none;}
.home .mt-err-tip{padding: 0;}

.mint-bar a,
.filter-list li.cur { color: $color-primary; }

.mint-area { padding: 20px 4% 0; border-bottom: 10px solid #f9f9f9; }
.mint-table { width: 100%; margin-bottom: 18px; vertical-align: middle; border: 1px solid #e0e0e0; text-align: center; font-size: 12px; color: #333; }
.mint-table th { color: #808080; font-weight: 400; }
.mint-table th,
.mint-table td{ padding: 4px 8px; border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; }
.mint-table th:last-child,
.mint-table td:last-child { border-right: none; }
.mint-table tr:last-child th,
.mint-table tr:last-child td { border-bottom: none; }

.mint-bottom { position: fixed; z-index: 1; bottom: 0; left: 0; width: 100%;  display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; text-align: center; background-color: #F9F9F9; height: 50px;}

.mint-bottom .btn-bottom { color: $color-primary; font-size: 16px; -webkit-flex: 1; -ms-flex: 1; flex: 1; min-width: 80px; position: relative; height: 100%; padding: 0; background: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; text-decoration: none; border: none; outline: none; transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.mint-bottom .btn-bottom.frist-bottom:after { content: ''; position: absolute; top: 10px; width: 1px; height: 20px; background-color: #e0e0e0; }
.mint-bottom .btn-bottom > a { display: block; color: $color-primary; color: #0070D3;}
.mint-tab-content { padding: 10px 4%; }
.wrap-content { position: absolute; top: 0; bottom: 0; width: 100%; padding: 44px 0 44px; background-color: #f9f9f9; }
.my-cell-gray { color: #aaa; font-size: 12px; }

 .mint-region .mint-list .mint-cell-title{ font-size: 16px;font-weight: bold; }
.mint-header-title{font-weight: bold;}
.vant-field{border-bottom: 1px solid #eee;}

.mt-list-area,
.my-policy,
.my-info { margin-top: 10px; padding-top: 14px; background-color: #fff; }
.my-policy,
.my-info { padding-top: 0; }
.mt-list-area .mint-cell,
.my-info .mint-cell { padding-left: 4%; }
.mt-list-area .mint-cell-title { margin-top: -14px; }
.mt-list-area .mint-cell-allow-right::after { top: 6px; }
.mt-list-area .mint-cell-value.is-link,
.mt-list-policies .mint-cell-value.is-link{ margin-right: 24px; position: absolute; top: 0; right: 0; }
.mt-list-policies .mint-cell-value.is-link { top: 7px; }
.mt-list-area .mint-cell-wrapper { border-bottom: none; }
.mt-list-area .mt-list-table { width: 92%; margin: 5px auto 15px; font-size: 14px; color: #333; text-align: left; }
.mt-list-area .mt-list-table th { color: #999; font-weight: 400; }
.mt-list-area .mt-list-bottom,
.my-policy .mt-list-bottom { padding: 14px 4%; line-height: 20px; font-size: 12px; color: #999; border-top: 1px dashed #e0e0e0; }
.mt-list-btn { float: right; width: 72px; height: 30px; margin-top: 9px; color: $color-primary; border: 1px solid #e0e0e0; border-radius: 4px; line-height: 30px; text-align: center; }
.my-policy .mt-policy-cell .mint-cell-wrapper { padding-right: 2%; border-top: 0; border-top: 1px dashed #E0E0E0; }
.my-policy .mint-cell .mint-cell-wrapper  { padding-left: 4%; border-bottom: 0; }
.my-info .mint-cell:last-child .mint-cell-wrapper { border-bottom: 0; }
.my-info .mint-cell .mint-cell-wrapper { padding-right: 4%; }
.my-info .mint-cell .mint-cell-title { color: #666; }
.my-info .mint-cell .my-cell-gray { color: #333; }
.my-info .mt-my-head { min-height: 78px; }
.policy-vehicle .btn-show { border-bottom: 1px solid #eee; }

.wrap-bottom .buttom-item.cur .item-wrapper i:before,
.wrap-bottom .buttom-item.cur .item-wrapper,
.cust-list .ico-call:before { color: $color-primary }
.customer-index .mint-tab-item-label { line-height: 22px; }
.customer-index .mint-navbar .mint-tab-item { padding: 10px 0; }
.cust-list { padding-left: 4%; }
.cust-list .mint-cell { padding: 10px 12% 10px 0; border-bottom: 1px solid #eee; font-size: 12px; color: #999; }
.cust-list .mint-cell .ico-arrow { right: 4%; }
.cust-list .mint-title { font-size: 14px; color: #333; font-weight: 400; }
.content-policies .cust-list { padding-left: 0; }
.content-policies .lab-time { font-size: 12px; color: #333; }
.content-policies .cust-label { padding-right: 3px; color: #808080; }
.insure-policies .mint-cell-title { padding: 10px 0; }
.insure-policies .mint-cell-text { font-size: 12px; color: #666666; }
.insure-policies .mint-cell-label { color: #333333; line-height: 25px; }
.insure-policies .mt-list-policies .mint-cell-title { padding-right: 20px; }
.mint-tab-item-label .item-click { display: block; }

.layui-timeline{padding-left:5px}
.layui-timeline-item{position:relative;padding-bottom:20px}
.layui-timeline-axis{position:absolute;left:0px;top:0;z-index:10;width:10px;height:10px;background-color:#e0e0e0;border-radius:50%;text-align:center;cursor:pointer}
.layui-timeline-item:before{content:'';position:absolute;left:5px;top:0;z-index:0;width:1px;height:100%; background-color: #e0e0e0; }
.layui-timeline-item:last-child:before{display:none}
.layui-timeline-item:first-child:before{display:block}
.layui-timeline-content{padding-left:25px}
.layui-timeline-title{position:relative;margin-bottom:10px; font-size: 12px; color: #666; }
.layui-timeline-time { position: relative; top: -2px; font-weight: 400; font-size: 14px; color: #333; }
.layui-timeline .cont-timeline { font-size: 14px; color: #999; }
.layui-timeline .audio-list { display: block; width: 82px; height: 20px; padding: 2px 8px; margin-bottom: 6px; line-height: 20px; border-radius: 15px; cursor: pointer; background: #E1F1FF; font-size: 12px; color: #999; }
.layui-timeline .audio-list .layui-icon { float: left; width: 18px; height: 18px; margin-right: 3px; font-size: 14px; color: #0062fa; line-height: 20px; }
.layui-timeline .audio-list .layui-icon.icon-icon-stop { font-size: 12px; }
.non-tracks { float: right; height: 48px; padding: 24px 60px 0 0; font-size: 12px; color: #808080; background: url(../images/img-arrow.png) no-repeat center right; }
.non-data { padding: 60px 4%; text-align: center; font-size: 14px; color: #808080; }
.non-data .ico-non-data { display: block; width: 74px; height: 74px; margin: 0 auto 8px; border-radius: 50%; background-color: #e2e6ea; }

.van-uploader__upload{ background: rgba(249, 249, 249, 1)!important;}
.van-uploader__file-icon{ font-size: 34px !important;  color:#0066ff !important;}
.van-uploader__preview-delete{ position: absolute !important;     right: -6px; top: -12px !important; padding: 1px;color: #f44;background: none!important;}  
.van-icon-delete:before{color: #f44 !important; font-size: 16px !important;  content: "\F043"}
.operationInp{ border: 1px solid #eee;border-radius: 8px;width:100%;}
.overHidden{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //溢出用省略号显示
    white-space:nowrap; //溢出不换行
}
.el-tree-node__label {
    font-size: 0.28rem;
}
.el-tree-node__content{
    height: 0.64rem;
    color: #333;

}
.el-checkbox__inner{
    border-radius: 50%; 
}
// 公用表格样式
.commonTable{
    width: 100%;
 }
 .commonTable td:last-child { border-right: none; }
 .commonTable tr:last-child th,
 .commonTable tr:last-child td { border-bottom: none; }
 .commonTable th, .mint-table td {   
     border-bottom: 1px solid #e0e0e0;
     border-right: 1px solid #e0e0e0;
 }




@font-face{font-family:icomoon;src:url(fonts/icomoon.eot?r0ci8x);src:url(fonts/icomoon.eot?r0ci8x#iefix) format('embedded-opentype'),url(fonts/icomoon.ttf?r0ci8x) format('truetype'),url(fonts/icomoon.woff?r0ci8x) format('woff'),url(fonts/icomoon.svg?r0ci8x#icomoon) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-Combined-Shape:before{content:"\e901";color:#0070d3}
.icon-icon-add:before{content:"\e902";color:#666}
.icon-icon-call:before{content:"\e903";color:#666}
.icon-icon-customer:before{content:"\e904";color:#666}
.icon-icon-detail:before{content:"\e905";color:#666}
.icon-icon-edit:before{content:"\e906";color:#666}
.icon-icon-fee:before{content:"\e907";color:#666}
.icon-icon-follow:before{content:"\e908";color:#0070d3}
.icon-icon-home:before{content:"\e909";color:#666}
.icon-icon-message:before{content:"\e90a";color:rgb(153, 142, 142)}
.icon-icon-messages:before{content:"\e90b";color:#666}
.icon-icon-orders:before{content:"\e90c";color:#666}
.icon-icon-play:before{content:"\e90d";color:#0070d3}
.icon-icon-search:before{content:"\e90e";color:#666}
.icon-icon-share:before{content:"\e90f";color:#666}
.icon-icon-stop:before{content:"\e910";color:#0070d3}
.icon-icon-userCenter:before{content:"\e911";color:#666}
.icon-mini-arrow-rightBottom:before{content:"\e912";color:#fff}
.icon-mini-icon-history:before{content:"\e913";color:#666}
.icon-icon-statement:before{content:"\e900";color:#666}


// add from ou
.qutotePopup{
    background: none!important;
}





 